/*general */

@import url("uikit.css");
@import url("font-awesome.min.css");
@import url("icomoon.css");
@import url("responsive.css");
 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body,
html {
	font-family: var(--font-body);
	font-size: 17px;
	line-height: 1.5;
	color: var(--black);
}
span.uk-dotnav-wrap {
    padding: 5px 0;
}

.uk-background-cover {
	background-size: cover !important;
}

.uk-background-norepeat {
	background-repeat: no-repeat !important;
}

.uk-dotnav>.uk-active>* {
	background: var(--bg-primary);
}

.uk-grid-divider> :not(.uk-first-column)::before {
	border-color: var(--light);
}

.uk-dotnav>*> :hover,
.uk-dotnav>*> :focus {
	background: var(--bg-primary);
}

.uk-dotnav>*>* {
	border-color: var(--blackk);
}

a,
.uk-link {
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}
#video-modal .uk-modal-dialog {
  width: 860px;
}
.open-video
{
	cursor: pointer;
}
label {
	display: block;
	margin-bottom: 5px;
}

.uk-input,
.uk-select,
.uk-textarea {
	border: 2px solid rgb(0 0 0 / 20%);
	border-radius: 0px;
}

.no-radius {
	border-radius: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
	font-family: var(--font-heading);
}

a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link {
	color: var(--secondary);
	text-decoration: none;
}

.uk-clearfix {
	clear: both;
}

.uk-modal-dialog {
	border-radius: 5px;
	overflow: hidden;
}

.uk-overlay-primary {
	background: rgb(34 34 34 / 50%);
}

.uk-card-body {
	padding: 20px 20px;
}

.uk-card-header {
	padding: 10px 20px;
}

.uk-pagination>*>* {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
}

.uk-pagination>*>*:hover {
	background: var(--bg-primary);
	color: var(--white);
}

.uk-pagination li.uk-active span {
	background: var(--bg-primary);
	color: var(--white);
}

.uk-text-theme {
	font-weight: 600;
}

span.uk-badge {
	padding: 0 15px;
	height: 30px;
	border-radius: 0;
}

.uk-text-muted {
	color: #7d7d7d !important;
}


.uk-border-top
{
    border-top: solid 1px var(--light);
}

.uk-border-bottom
{
    border-bottom: solid 1px var(--light);
}

/*end  general */

/*******loader css start********/
#uk-preloader {
	background-color:#333;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999999;
}
.uk-loading {
    width: 100%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: -90px;
}
.uk-loading svg {
	width: 100%;
	height: 100%;
}
.uk-loading svg path {
    stroke: var(--secondary);
}
.uk-loading #uk-pulsar{
	stroke-dasharray:281;
	-webkit-animation: dash 2.5s infinite linear forwards;
}
@-webkit-keyframes dash{ from{stroke-dashoffset:814;} to {stroke-dashoffset:-814;}
}
/*******loader css end*******/

/*font size*/

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}
.f-13 {
	font-size: 13px;
}

.f-14 {
	font-size: 14px;
}

.f-16 {
	font-size: 16px;
}

.f-18 {
	font-size: 18px;
}

.f-20 {
	font-size: 20px;
}

.f-22 {
	font-size: 22px;
}

.f-24 {
	font-size: 24px;
}

.f-26 {
	font-size: 26px;
}

.f-28 {
	font-size: 28px;
}

.f-30 {
	font-size: 30px;
}

.f-32 {
	font-size: 32px;
}

.f-34 {
	font-size: 34px;
}

.f-36 {
	font-size: 36px;
}

.f-38 {
	font-size: 38px;
}

.f-40 {
	font-size: 40px;
}

.f-42 {
	font-size: 42px;
}

.f-44 {
	font-size: 44px;
}

.f-46 {
	font-size: 46px;
}

.f-48 {
	font-size: 48px;
}

.f-50 {
	font-size: 50px;
}

.f-52 {
	font-size: 52px;
}

.f-54 {
	font-size: 54px;
}

.f-56 {
	font-size: 56px;
}

.f-58 {
	font-size: 58px;
}

.f-60 {
	font-size: 60px;
}

.f-62 {
	font-size: 62px;
}

.f-64 {
	font-size: 64px;
}

.f-66 {
	font-size: 66px;
}

.f-68 {
	font-size: 68px;
}

.f-70 {
	font-size: 70px;
}

.f-72 {
	font-size: 72px;
}

.f-74 {
	font-size: 74px;
}

.f-76 {
	font-size: 76px;
}

.f-78 {
	font-size: 78px;
}

.f-80 {
	font-size: 80px;
}

.f-w-100 {
	font-weight: 100;
}

.f-w-300 {
	font-weight: 300;
}

.f-w-400 {
	font-weight: 400;
}

.f-w-600 {
	font-weight: 600;
}

.f-w-700 {
	font-weight: 700;
}

.f-w-900 {
	font-weight: 600;
}
/*end*/

/*about us */

.uk-pull-top {
	margin-top:-150px;
}

.uk-about-home {
	width: 350px;
	height: 350px;
	overflow: hidden;
	border: solid 5px #fff;
	box-shadow: 1px 1px 20px hsl(0deg 0% 0% / 28%);
	border-radius: 8px;
}

.uk-about-home img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*end   */
/*logos*/
.uk-logo-list {
    width: 220px;
    height: 120px;
    overflow: hidden;
}

.uk-logo-list img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background: #fff;
    padding: 0 20px;
}
/*end*/

 /*menu-category*/
 ul.uk-menu-category li a {
    background: var(--bg-white);
    padding: 7px  10px!important;
    margin: 8px;
    border-radius: 30px;
    font-size: 15px;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 22%);
}
/*menu-category*/


/*single page*/

figure.uk-feature-image figcaption, figure.uk-feature-video figcaption {
	border-bottom: solid 1px var(--light);
	padding: 5px 0;
	text-align: center;
	font-style: italic;
}

.uk-category-title {
	border-bottom: solid 2px var(--primary);
}

.uk-category-title div h1 {
	background: var(--primary);
	padding: 5px 40px 5px 14px;
	border-radius: 10px 0 0 0;
	color: var(--white);
	-webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}

zg-watermark {
	display: none;
}


/*end*/


/*testimonial*/

.uk-testimonial-body {
	padding: 20px;
}

.uk-testimonial-body p {
	margin: 0;
	/* font-size: 16px; */
}

.uk-testimonial-body .fa.fa-star.checked {
    color:var(--yellow);
	opacity:1;
}
.uk-testimonial-body span.fa.fa-star {
    color: var(--black);
	opacity: 0.2;
}
span.uk-testimonial--quote {
	font-size: 60px;
	color: #232323;
	opacity: 0.07;
	position: absolute;
	right: 10px;
	bottom: 0;
}

.uk-slider-btn-custom {
	background: var(--bg-primary);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 0px;
	line-height: 30px;
	text-align: center;
}

.uk-slider-btn-custom svg {
	width: 10px !important;
}

.uk-slider-btn-custom svg polyline {
	stroke-width: 3px !important;
}


/*end testimonial*/


/*list home*/

.uk-upadte-type {
	padding: 2px 15px;
}


/*end*/


/*table*/

.uk-table th {
	padding: 16px 12px;
	text-align: left;
	vertical-align: bottom;
	font-size: 15px;
	font-weight: normal;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.uk-table-hover>tr:hover,
.uk-table-hover tbody tr:hover {
	background: rgb(11 102 193 / 10%);
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	padding: 16px 12px;
	text-align: left;
	vertical-align: bottom;
	font-size: 15px;
	font-weight: normal;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

table td {
	padding: 16px 12px;
	vertical-align: top;
}

table tbody tr:hover {
	background: rgb(11 102 193 / 10%);
}

table tbody tr:nth-of-type(odd) {
	background: #f8f8f8;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}


/*table end*/


/*accordion*/

.uk-accordion {
	margin: 0;
}


/* ul.uk-accordion li {
    border-top: 1px solid var(--light);
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
} */

.uk-accordion> :nth-child(n+2) {
	margin-top: 16px;
}

.uk-accordion-title {
	font-size: 16px;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
	color: var(--black);
	-webkit-transition: color 280ms cubic-bezier(0.55, 0, 0.1, 1);
	transition: color 280ms cubic-bezier(0.55, 0, 0.1, 1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.uk-accordion-title:focus,
.uk-accordion-title:hover {
	color: var(--secondary);
}

.uk-accordion-title:before {
	display: none;
}

.uk-accordion-title:after {
	background: 0 0 !important;
	content: "\f107";
	color: var(--primary);
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 24px;
	font-size: 1.5rem;
	position: absolute;
	right: 0;
	top: 50%;
	width: auto;
	height: auto;
	margin-top: -16px;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: -webkit-transform 140ms cubic-bezier(0.55, 0, 0.1, 1);
	transition: -webkit-transform 140ms cubic-bezier(0.55, 0, 0.1, 1);
	transition: transform 140ms cubic-bezier(0.55, 0, 0.1, 1);
	transition: transform 140ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 140ms cubic-bezier(0.55, 0, 0.1, 1);
}

.uk-accordion-title .mdi {
	font-size: 22px;
	margin-right: 8px;
	color: rgba(0, 0, 0, 0.54);
}

.uk-accordion .uk-open .uk-accordion-title:after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.uk-accordion .uk-open .uk-accordion-title .mdi {
	color: rgba(0, 0, 0, 0.87);
}

.uk-accordion-content {
	margin: 12px 0 0;
	/* font-size: 14px;
     font-size: .875rem*/
}

.uk-accordion-content-expand {
	padding: 16px;
	margin-left: -16px;
	margin-right: -16px;
}

.uk-accordion-outline .uk-accordion-title {
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	padding: 12px 36px 12px 16px;
}

.uk-accordion-outline .uk-accordion-title:after {
	right: 8px;
}

.uk-accordion-outline .uk-accordion-content {
	padding: 24px 16px;
	margin: 0;
	border-width: 0 1px 1px;
	border-color: transparent;
	border-style: solid;
}

.uk-accordion-outline>li {
	-webkit-transition: all 140ms cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 140ms cubic-bezier(0.55, 0, 0.1, 1);
}

.uk-accordion-outline>li:first-child .uk-accordion-title {
	border-radius: 3px 3px 0 0;
}

.uk-accordion-outline>li:nth-child(n+2) {
	margin-top: -1px;
}

.uk-accordion-outline>li:nth-child(n+2) .uk-accordion-title {
	border-radius: 0;
}

.uk-accordion-outline>li:last-child .uk-accordion-title {
	border-radius: 0 0 3px 3px;
}

.uk-accordion-outline>li.uk-open {
	padding-bottom: 12px;
}

.uk-accordion-outline>li.uk-open .uk-accordion-title {
	border-radius: 3px 3px 0 0;
	border-width: 1px;
	/*border-color: #bdbdbd;
    */
	color: var(--secondary);
	/*background: #f5f5f5*/
}

.uk-accordion-outline>li.uk-open .uk-accordion-content {
	border-color: #e1e1e1;
	border-radius: 0 0 3px 3px;
}

.uk-accordion-outline>li.uk-open:nth-child(n+2) {
	padding-top: 12px;
}

.uk-accordion-alt .uk-accordion-title {
	border-radius: 3px;
	padding: 12px 36px 12px 16px;
	background: rgba(0, 0, 0, 0.08);
}

.uk-accordion-alt .uk-accordion-title:after {
	right: 8px;
}

.uk-accordion-alt .uk-accordion-title.md-color-white:after {
	color: #fff;
}

.uk-accordion-alt .uk-accordion-content {
	padding: 16px;
}

.uk-accordion-alt>li.uk-open .uk-accordion-title {
	background: rgba(0, 0, 0, 0.16);
	color: rgba(0, 0, 0, 0.87);
}


/*end accordion*/


/* button solid*/

.uk-button-text::before {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	bottom: 100%;
	width: 20px;
	border-bottom: 2px solid var(--secondary);
}

a.uk-button-text {
	padding-left: 28px;
}

a.uk-button-text:hover {
	color: var(--secondary);
}

.uk-button-small {
	padding: 5px 15px;
	outline: 0;
	line-height: 18px;
}

.uk-button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.uk-button:hover:after,
.uk-button:focus:after {
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.uk-button span.uk-icon {
	border: solid 1px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.uk-button:hover span.uk-icon {
	background: var(--bg-white);
	color: var(--primary);
	border-color: var(--white);
}

.uk-button {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 42px;
	transition: 0.25s ease-in-out;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
	border-radius: 0;
	position: relative;
	outline: 0;
}

.uk-button-small {
	line-height: 30px;
    font-size: 12px;
    padding: 0 15px;
}

.uk-button-primary {
	background: var(--bg-primary) !important;
	color: var(--white) !important;
	cursor: pointer;
}

.uk-button-primary:hover,
.uk-button-primary:focus {
	background: var(--bg-secondary);
	opacity: 0.9;
}

.uk-button-primary-dark {
	background: var(--bg-primary-dark);
	color: var(--white);
	cursor: pointer;
}

.uk-button-primary-dark:hover,
.uk-button-primary-dark:focus {
	background: var(--bg-primary);
	opacity: 0.9;
	color: var(--white);
}

.uk-button-secondary {
	background: var(--bg-secondary) !important;
	color: var(--white) !important;
	cursor: pointer;
}

.uk-button-secondary:hover,
.uk-button-secondary:focus {
	background: var(--bg-primary);
}

.uk-button-white {
	background: var(--bg-white);
	color: var(--primary);
	cursor: pointer;
}

.uk-button-white:hover,
.uk-button-white:focus {
	background: var(--bg-primary);
	color: var(--white);
}

.uk-button-black {
	background: var(--bg-black);
	color: var(--white);
	cursor: pointer;
}

.uk-button-black:hover,
.uk-button-black:focus {
	background: var(--bg-primary);
	color: var(--white);
}


/* end button solid*/


/* button outline*/

.uk-button-primary-outline {
	border: solid 2px var(--primary);
	color: var(--primary);
	background: none;
	cursor: pointer;
}

.uk-button-primary-outline:hover,
.uk-button-primary-outline:focus {
	background: var(--bg-primary);
	border: solid 2px var(--primary);
	color: var(--white);
}

.uk-button-secondary-outline {
	border: solid 2px var(--secondary);
	color: var(--secondary);
	background: none;
	cursor: pointer;
}

.uk-button-secondary-outline:hover,
.uk-button-secondary-outline:focus {
	background: var(--bg-secondary);
	border: solid 2px var(--secondary);
	color: var(--white);
}

.uk-button-white-outline {
	border: solid 2px var(--white);
	color: var(--white);
	background: none;
	cursor: pointer;
}

.uk-button-white-outline:hover,
.uk-button-white-outline:focus {
	background: var(--bg-white) !important;
	color: var(--black);
	background: none;
	cursor: pointer;
}

.uk-button-black-outline {
	border: solid 2px var(--black);
	color: var(--black);
	background: none;
	cursor: pointer;
}

.uk-button-black-outline:hover,
.uk-button-white-black:focus {
	background: var(--bg-black);
	color: var(--white);
	border-color: var(--black);
	cursor: pointer;
}


/* end button solid*/


/*concept*/

.uk-concept {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

.uk-concept svg {
	width: 100%;
	height: 100%;
	right: 0 !important;
}


/*end*/


/*color*/

:root {
	--primary: #3f98bf;
	--primary-light: rgb(5 106 183 / 6%);
	--primary-dark: #005292;
	--secondary: #eb664f;
	--white: #fff;
	--light: #f6f6fa;
	--black: #6f6f6f;
	--yellow: #ff7d00;
	--green: #639c01;
	--red: #ea050a;
	--bg-primary: #3f98bf;
	--bg-primary-light: rgb(5 106 183 / 6%);
	--bg-primary-dark: #005292;
	--bg-secondary: #eb664f;
	--bg-white: #fff;
	--bg-light: #f6f6fa;
	--bg-black: #6f6f6f;
	--bg-yellow: #ff7d00;
	--bg-green: #639c01;
	--bg-red: #ea050a;
	--font-body: 'Roboto', sans-serif;
	--font-heading: 'Rubik', sans-serif;
	--font-secondary: 'Heebo', sans-serif;
}

.text-primary,
.text-primary>* {
	color: var(--primary);
}

.text-primary-light,
.text-primary-light>* {
	color: var(--primary-light);
}

.text-primary-dark,
.text-primary-dark>* {
	color: var(--primary-dark);
}

.text-secondary,
.text-secondary>* {
	color: var(--secondary);
}

.text-white,
.text-white>* {
	color: var(--white);
}

.text-light,
.text-light>* {
	color: var(--light);
}

.text-black,
.text-black>* {
	color: var(--black);
}

.text-yellow,
.text-yellow>* {
	color: var(--yellow);
}

.text-light,
.text-light>* {
	color: var(--black-light);
}

.text-green,
.text-green>* {
	color: var(--green);
}

.text-red,
.text-red>* {
	color: var(--red);
}

.bg-primary {
	background: var(--bg-primary);
}

.bg-primary-light {
	background: var(--bg-primary-light);
}

.bg-primary-dark {
	background: var(--bg-primary-dark);
}

.bg-secondary {
	background: var(--bg-secondary);
}

.bg-white {
	background: var(--bg-white) !important;
}

.bg-light {
	background: var(--bg-light);
}

.bg-black {
	background: var(--bg-black);
}

.bg-black-light {
	background: var(--bg-black-light);
}

.bg-green {
	background: var(--bg-green);
}

.bg-red {
	background: var(--red);
}

.bg-gradient-1 {
	background-image: linear-gradient(45deg, #5065cd 0%, #c366bd 100%) !important;
}

.bg-gradient-2 {
	background-image: linear-gradient(62deg, #d6875a 0%, #f7ce68 100%) !important;
}

.bg-gradient-3 {
	background-image: linear-gradient(45deg, #0877b9 0%, #80d0c7 100%) !important;
}

.bg-gradient-4 {
	background-image: linear-gradient(45deg, #31d0f5 0%, #2c61e6 100%) !important;
}

.bg-1 {
	background-color: #8c43ff !important;
}

.bg-2 {
	background-color: #28d5a7 !important;
}

.bg-3 {
	background-color: #f9b851 !important;
}

.bg-4 {
	background-color: #cc08e9 !important;
}

.bg-5 {
	background-color: #ff8c2a !important;
}

.bg-6 {
	background-color: #25b15f !important;
}

.bg-7 {
	background-color: #307cf3 !important;
}

.bg-8 {
	background-color: #4267b2 !important;
}

.bg-9 {
	background-color: #71c9f8 !important;
}

.bg-10 {
	background-color: #7b68ee !important;
}

.bg-none {
	background: none !important;
}

.bg-transparent {
	background: transparent !important;
}
.bg-pattern-01 {
background: url('../images/bg/pattern.jpg');
}

/*end color*/


/*border*/

.uk-border-light {
	border: solid 1px var(--light);
}

.uk-border-light-top {
	border-top: solid 1px var(--light);
}

.uk-border-light-left {
	border-left: solid 1px var(--light);
}

.uk-border-light-right {
	border-right: solid 1px var(--light);
}

.uk-border-light-bottom {
	border-bottom: solid 1px var(--light);
}

.uk-border-primary {
	border: solid 1px var(--primary);
}

.uk-border-primary-top {
	border-top: solid 1px var(--primary);
}

.uk-border-primary-left {
	border-left: solid 1px var(--primary);
}

.uk-border-primary-right {
	border-right: solid 1px var(--primary);
}

.uk-border-primary-bottom {
	border-bottom: solid 1px var(--primary);
}

.uk-border-primary-top {
	border-top: solid 1px var(--primary);
}

.uk-border-primary-left {
	border-left: solid 1px var(--primary);
}

.uk-border-primary-right {
	border-right: solid 1px var(--primary);
}

.uk-border-primary-bottom {
	border-bottom: solid 1px var(--primary);
}


/*end border*/


/* image effect */


/* border over image */

.uk-border-over:before {
	content: '';
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	z-index: 1;
	pointer-events: none;
}

.uk-border-over-circle::before {
	border-radius: 50%;
}

.uk-border-over-light::before {
	border: 1px solid var(--light);
}


/* end */


/*  */


/* image size */

@media (max-width: 960px) {
	.uk-media-350,
	.uk-media-650,
	.uk-media-450,
	.uk-media-520{
		height: 250px !important;
	}
}

.uk-media-author-lg img,
.uk-media-author-sm img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.uk-media-author-lg {
	width: 100px;
	height: 100px;
}

.uk-media-author-sm {
	width: 70px;
	height: 70px;
}

.uk-media-home {
	width: 180px;
	height: 140px;
	overflow: hidden;
}

.uk-media-small img,
.uk-media-home img,
.uk-media-40 img,
.uk-media-50 img,
.uk-media-60 img,
.uk-media-70 img,
.uk-media-80 img,
.uk-media-100 img,
.uk-media-110 img,
.uk-media-120 img,
.uk-media-130 img,
.uk-media-140 img,
.uk-media-150 img,
.uk-media-160 img,
.uk-media-170 img,
.uk-media-180 img,
.uk-media-190 img,
.uk-media-200 img,
.uk-media-205 img,
.uk-media-240 img,
.uk-media-250 img,
.uk-media-260 img,
.uk-media-270 img,
.uk-media-280 img,
.uk-media-290 img,
.uk-media-300 img,
.uk-media-350 img,
.uk-media-400 img,
.uk-media-450 img,
.uk-media-480 img,
.uk-media-500 img,
.uk-media-520 img,
.uk-media-550 img,
.uk-media-560 img,
.uk-media-570 img,
.uk-media-580 img,
.uk-media-590 img,
.uk-media-600 img,
.uk-media-650 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.uk-media-small {
	width: 79px;
	height: 79px;
	overflow: hidden;
}

.uk-media-40 {
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.uk-media-50 {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.uk-media-60 {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.uk-media-70 {
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.uk-media-80 {
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.uk-media-100 {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.uk-media-110 {
	width: 100%;
	height: 110px;
	overflow: hidden;
}

.uk-media-120 {
	width: 100%;
	height: 120px;
	overflow: hidden;
}

.uk-media-130 {
	width: 100%;
	height: 130px;
	overflow: hidden;
}

.uk-media-140 {
	width: 100%;
	height: 140px;
	overflow: hidden;
}

.uk-media-150 {
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.uk-media-160 {
	width: 100%;
	height: 160px;
	overflow: hidden;
}

.uk-media-170 {
	width: 100%;
	height: 170px;
	overflow: hidden;
}

.uk-media-180 {
	width: 100%;
	height: 180px;
	overflow: hidden;
}

.uk-media-190 {
	width: 100%;
	height: 190px;
	overflow: hidden;
}

.uk-media-200 {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.uk-media-205 {
	width: 100%;
	height: 205px;
	overflow: hidden;
}

.uk-media-240 {
	width: 100%;
	height: 240px;
	overflow: hidden;
}

.uk-media-250 {
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.uk-media-260 {
	width: 100%;
	height: 260px;
	overflow: hidden;
}

.uk-media-270 {
	width: 100%;
	height: 270px;
	overflow: hidden;
}

.uk-media-280 {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.uk-media-290 {
	width: 100%;
	height: 290px;
	overflow: hidden;
}

.uk-media-300 {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.uk-media-350 {
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.uk-media-400 {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.uk-media-450 {
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.uk-media-480 {
	width: 100%;
	height: 480px;
	overflow: hidden;
}

.uk-media-500 {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.uk-media-520 {
	width: 100%;
	height: 520px;
	overflow: hidden;
}

.uk-media-550 {
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.uk-media-560 {
	width: 100%;
	height: 560px;
	overflow: hidden;
}

.uk-media-570 {
	width: 100%;
	height: 570px;
	overflow: hidden;
}

.uk-media-580 {
	width: 100%;
	height: 580px;
	overflow: hidden;
}

.uk-media-590 {
	width: 100%;
	height: 590px;
	overflow: hidden;
}

.uk-media-600 {
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.uk-media-650 {
	width: 100%;
	height: 650px;
	overflow: hidden;
}


/* image size end */


/*top header*/

/*search publication*/
.uk-search-default {
    width: 100%;
}
a.uk-atach {
    display: inline-block;
    background: var(--bg-primary);
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
}
.uk-publication-grid.uk-grid-divider > :not(.uk-first-column)::before
{
    border-left: 3px solid #3f98bf !important;
}
/*end*/

/*main search*/
.search-btn  {
	display: inline-block;
	margin: 4px 2px !important;
	background-color: var(--bg-primary);
	height: 40px;
	line-height: 40px;
	width: 40px !important;
	text-align: center;
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 50%;
}

.search-btn:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: var(--bg-light);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	 padding: 0 0 0 16px; 
}
/*end search*/


.uk-top-header {padding: 10px 0;font-size: 13px;font-weight: 400; }

.uk-top-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.uk-top-header ul li a
{
	/*color: var(--white);*/
	padding-left: 10px;
}
.uk-top-header ul  li:not(:last-child):after {
    content: "";
    padding-right: 12px;
    border-right:1px solid rgb(0 0 0 / 18%);
    height: 12px;

}
.uk-top-header ul li a:after


/*end*/


/* header icon */

ul.uk-social-media-small {
	display: flex;
	/* display: inline-block;
     */
	/* top: 50%;
     */
	margin: 0;
	/* left: 50%;
     */
	/* transform: translate(-50%, -50%);
     */
	padding: 0;
}

ul.uk-social-media-small li {
	list-style: none;
	display: inline-block;
}

ul.uk-social-media-small li a {
	width: 25px;
	height: 25px;
	background-color: none;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	margin: 0 5px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 0;
	z-index: 1;
	color: #fff;
}

ul.uk-social-media-small li a .icon {
	position: relative;
	color: #fff;
	transition: 0.5s;
	z-index: 3;
}

ul.uk-social-media-small li a:hover .icon {
	color: #fff;
	/*transform: rotateY(360deg);*/
}

ul.uk-social-media-small li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #d01e1e;
	transition: 0.5s;
	z-index: 2;
}

ul.uk-social-media-small li a:hover:before {
	top: 0;
}

ul.uk-social-media-small li:nth-child(1) a:before {
	background: #3b5999;
}

ul.uk-social-media-small li:nth-child(2) a:before {
	background: #55acee;
}

ul.uk-social-media-small li:nth-child(3) a:before {
	background: #0077b5;
}

ul.uk-social-media-small li:nth-child(4) a:before {
	background: #184f85;
}

ul.uk-social-media-small li:nth-child(5) a:before {
	background: #00af87;
}


/*end*/


/*header*/

.uk-program-list li {
	padding: 25px 0;
}

.uk-program-list a {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	border-radius: 50%;
	border: solid 2px transparent;
	padding: 10px;
	background: var(--bg-secondary);
}

.uk-program-list img {
	filter: brightness(0) invert(1);
}

.uk-program-list a:hover {
	background: var(--bg-light) !important;
}

.uk-program-list a:hover img {
	filter: brightness(1) invert(0);
}

.uk-program-list h1 {
	font-weight: 500;
	font-size: 13px;
}

.uk-mega-list li a span.uk-letter {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	display: inline-block;
	background: var(--bg-primary);
	margin-right: 8px;
	font-size: 22px;
	color: var(--white);
	text-align: center;
}

.uk-mega-tab li a {
	text-transform: capitalize;
	font-size: inherit;
	font-weight: 500;
	padding: 8px 20px 8px 8px;
	position: relative;
}

.uk-mega-tab>.uk-active>a,
.uk-mega-tab>li a:hover {
	color: var(--primary);
	border-color: var(--primary);
	transition: .25s ease-in-out;
}

.uk-mega-tab>*>.uk-active {
	width: 20px;
	height: 20px;
	background: transparent;
	text-indent: -9999px;
	border-top: 2px solid #bfbfbf;
	border-left: 2px solid #bfbfbf;
	transition: all 250ms ease-in-out;
	text-decoration: none;
	color: transparent;
}

.uk-mega-tab>.uk-active>a:before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: var(--bg-white);
	text-indent: -9999px;
	border-top: 3px solid var(--light);
	border-left: 3px solid var(--light);
	transition: all 250ms ease-in-out;
	text-decoration: none;
	color: transparent;
	right: -18px;
	transform: rotate(135deg);
	top: 5px;
}

.uk-padding-menu {
	padding: 30px 0;
}

.uk-mega-tab::before {
	border-color: var(--primary);
	border-left: solid 3px var(--light);
}

.mega-border-top {
	border-top: solid 3px var(--black-light);
}

.uk-mega-tab>*>a {
	border-right: 3px solid transparent;
}

.mega-border-top {
	border-top: solid 3px var(--light);
}

.uk-megamenu-viewall {
	margin: 15px 0;
	padding: 15px 0;
	border-top: solid 1px var(--light);
}

header.uk-sticky.uk-sticky-fixed {
	background: #fff;
}

.uk-middle-header {
	/*border-bottom: solid 1px #eee;*/
	/* padding: 18px 0; */
	display: block;
}

.uk-offcanvas-close {
	top: 8px;
	right: 8px;
	color: #003374 !important;
	border-radius: 50%;
}

.uk-navbar-toggle.uk-open,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:hover {
	color: #d01e1e !important;
}

.uk-navbar-right {
	position: relative;
	color: #fff;
}

.uk-headertop-bg {
	border-bottom: solid 1px #f3f3f3;
}

.uk-navbar-nav>li>a::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: -1px;
	border-radius: 0;
	height: 4px;
	background-color: transparent;
	transition: 0.8s ease-in-out;
	transition-property: background-color, border-color, box-shadow, height, right;
	left: 0;
	right: calc(102% - 14px);
}

.uk-navbar-nav>li:hover>a::before,
.uk-navbar-nav>li>a.uk-open::before,
.uk-navbar-nav>li>a:focus::before,
.uk-navbar-nav>li>a.uk-active::before {
	right: 0;
	background-color: var(--primary);
}

.uk-navbar-right .uk-contact-icon {
	border: dashed 1px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}



/* menu */

.uk-offcanvas-bar-white {
    background: var(--bg-white);
}

ul.uk-navsidebar li {
    display: block;
}

ul.uk-navsidebar li a {
  
padding: 10px 35px;
  
font-size: 16px;
  
font-weight: 500;
  
color: var(--bg-black);
  
border-radius: 0;
}
 
ul.uknavsub li a {
    font-size: 15px;
    padding: 8px 15px 8px 45px;
    font-weight: 500;
    /*border-bottom: solid 1px var(--light);*/
}

ul.uk-navsidebar li a:hover,
ul.uk-navsidebar li a:focus {
    color: var(--bg-primary);
}

.uk-nav-parent-icon>.uk-parent>a::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E) !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.uk-nav-parent-icon>.uk-parent.uk-open>a::after {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E) !important;
}


/* */

 .uk-sticky.uk-active.uk-sticky-fixed.uk-sticky-below .uk-inner-navigation {
	    background: var(--bg-white);
    border: 0;
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
}

 .uk-sticky.uk-active.uk-sticky-fixed.uk-sticky-below .uk-navbar-nav>li>a {
	/*color: var(--primary);*/
}

header .uk-navbar-nav>li>a {
	color: var(--black);
	font-size: inherit;
	font-weight: 500;
	font-family: var(--font-body);
	position: relative;
	transition: all 0.5s ease;
	min-height: 80px;
	padding: 0 20px;
	text-transform: capitalize;
}

header .uk-navbar-nav>li>a span.uk-icon svg polyline {
	stroke-width: 2px;
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a.uk-open,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>a.uk-active {
	color: var(--primary);
	outline: 0;
	text-decoration: none;
	background: var(--bg-light);
}


/*header inner*/

.uk-inner-navigation {
	/* background: #fff !important; */
	border-bottom: solid 1px #eee;
}

.uk-mega-menu .uk-grid-divider> ::before {
	border-left: solid 1px rgb(0 0 0 / 7%) !important;
}

ul.uk-menu-list
{
	list-style: none;
	padding: 0;
}
ul.uk-menu-list li a {
    color: var(--black);
    padding: 7px 12px;
    font-size: 15px;
    display: block;
    text-decoration: none;
    position: relative;


}
ul.uk-menu-list li a:hover {
    color: var(--secondary);
}
 
ul.uk-menu-list li a::before
{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 1.5px;
    background-color: transparent;
    transition: .25s ease-in-out;
    transition-property: background-color, border-color, box-shadow, height, right;
    left: 0;
    right: calc(102% - 8px);
}

ul.uk-menu-list>li:hover>a::before {
    right: 0;
    background-color: var(--bg-secondary);
}

 
 
 


/*end*/

.uk-offcanvas-bar .uk-nav .uk-nav-sub a {
	color: #fff !important;
	border-bottom: 0 !important;
}

.uk-offcanvas-bar .uk-nav .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:focus {
	color: #d01e1e !important;
}

.uk-navbar-dropdown,
.uk-dropdown {
	display: none;
	position: absolute;
	z-index: 1020;
	box-sizing: border-box;
	width: 230px;
	margin: 0;
	padding: 10px;
	background: var(--bg-light);
	color: var(--primary);
	box-shadow: none;
}

.uk-dropdown-nav {
	white-space: inherit;
}

.uk-nav>li {
	border-bottom: solid 1px var(--light);
}

.uk-nav>li:last-child {
	border-bottom: 0;
}

.uk-nav>li>a {
	padding: 6px 15px;
	/*color: var(--white);*/
	font-weight: 500;
	font-size: 14px;
	border-radius: 30px;
}

.uk-dropdown-nav>li>a:hover,
.uk-dropdown-nav>li>a:focus,
.uk-dropdown-nav>li.uk-active>a {
	color: var(--white);
	background: var(--bg-primary);
}

.uk-navbar-dropdown-nav > li > a:hover, .uk-navbar-dropdown-nav > li > a:focus {
    color: var(--white);
    background: var(--bg-primary);
}

/*header end */


/* hero banner for youtube video */
.uk-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--bg-light);
    /*clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);*/
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    /*clip-path: circle(100% at 0  50%);*/
    
}
.uk-home-banner-img:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0 0 0 / 50%);
}

.uk-slidenav svg {
	width: 16px;
}

.uk-slidenav svg polyline {
	stroke-width: 3px;
	stroke: var(--primary) !important;
}
.uk-slider-btn-custom svg polyline {
    stroke: var(--white) !important;
}
.video-background-controls button {
	font-size: 30px;
	display: inline-block;
	outline: 0;
	border: 0;
	padding: 0px;
	margin: 0px;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	line-height: 32px;
	border: none;
	background: none;
	-webkit-appearance: none;
	color: var(--white);
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.419));
	cursor: pointer;
	opacity: 1;
	transition: all 250ms ease-in-out;
	margin-left: 10px;
}

.video-background-controls button:hover {
	opacity: 0.5;
}

iframe {
	transition: opacity 500ms ease-in-out;
	transition-delay: 250ms;
}


/* end */


/*tab*/

.uk-home-tab {
	background: #fff;
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
	border-radius: 30px;
}

.uk-home-tab li {
	margin: 0;
	padding: 0;
	flex: auto;
}

.uk-home-tab a {
	text-transform: initial;
	font-size: inherit;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
}

.uk-home-tab .uk-active>a {
	background: var(--bg-primary);
	color: var(--white);
	border-color: transparent;
}

ul.uk-home-tab::before {
	display: none;
}


/*tab end*/


/* home list */

.uk-list-home h1 {
	font-weight: 600;
}

.uk-list-home h4 {
	font-weight: 500;
}

.uk-home-list-description {
	margin: 30px 0;
}

.uk-home-list-description p {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
}

ul.uk-theme-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.uk-theme-list li {
	list-style: none;
	background: url(../images/list-icon.png) left center no-repeat;
	padding-left: 30px;
}

ul.uk-theme-list li a {
	font-weight: bold;
	font-size: 15px;
}


/* end */
/*hover border effect*/

 .uk-border-bottom-on-hover
 {
     position:relative;
 }
 
  .uk-border-bottom-on-hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 3px;
    background-color: var(--bg-secondary);
    -webkit-transition: transform 0.4s linear;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
} 
.uk-border-bottom-on-hover:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
 
.uk-border-left-on-hover:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.uk-border-left-on-hover:before {
    content: '';
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 3px;
    background-color: var(--bg-secondary);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.4s linear;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}
.uk-footer-box::after{
	content: '';
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 3px;
    background-color: var(--bg-secondary);

}

/*end*/
/*services*/
.uk-services-icon
{

}
.uk-services-icon i:nth-of-type(2) {
    position: absolute;
    right: -60px;
    font-size: 140px;
    opacity: 0.1;
    top: 100px;
}
/*end*/

 .uk-form-header
 {
 	padding: 10px;
 }
/* service sidebar */
.uk-aside-list-header{
	padding:  10px;
}
ul.uk-aside-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.uk-aside-list li {
	display: block;
	border-bottom: solid 1px var(--light);
}

ul.uk-aside-list li a {
	padding: 10px;
	display: block;
	font-size: 16px;
	font-weight: 500;
	 color: var(--black);
	 border-radius: 0;
}
 

ul.uk-aside-list li a:hover, ul.uk-aside-list li a.uk-active {
    background: var(--bg-primary);
    color: var(--white);
}
/* end */


/* team */

.uk-members-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.uk-members-list li {
	padding: 0px 0;
}

.uk-members-list li:nth-child(odd) {
	background: var(--bg-white);
}

.uk-members-list li:nth-child(even) {
	background: #f2f2f278;
}

.uk-member-header {
	background: #003374;
	padding: 5px 20px;
}

.uk-member-holder {
	padding: 50px 15px;
	font-size: 15px;
}

.uk-member-holder ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.uk-member-img {
	width: 130px;
	height: 130px;
	overflow: hidden;
	border-radius: 50%;
	margin: 15px auto;
}

.uk-member-img-large img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.uk-member-img-large {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: 15px auto;
}

.uk-member-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.uk-member-holder .uk-social-icon svg path {
	fill: #848484;
}

.uk-member-holder .uk-social-icon a:hover svg path {
	fill: var(--primary);
}


/* end */
 

 
/*pagination*/

ul.pagination li {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--bg-light);
    border-radius: 50%;
}

ul.pagination {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
    margin: 0;
    font-size: 20px;
     padding: 15px; 
    /* background: var(--bg-white) !important; */
    /* box-shadow: 0 14px 25px rgb(0 0 0 / 16%); */
}

ul.pagination li a {
    color: var(--primary);
    display: block;
}

ul.pagination li.active,
ul.pagination li:hover,
ul.pagination li:focus {
    background: var(--bg-primary);
    color: var(--white);
    !important;
}

ul.pagination li.active a,
ul.pagination li:hover a,
ul.pagination li:focus a {
    color: var(--white);
}


/*footer start*/

ul.uk-list-varticle {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.uk-list-varticle li {
	margin-bottom: 16px;
	font-size: inherit;
	/*font-weight: 600;*/
}

.uk-footer-list li a {
	border-bottom: solid 1px;
	font-weight: 500;
	color: var(--primary-dark);
}

.uk-footer-list li a:hover {
	color: var(--secondary);
	color: var(--secondary);
}

ul.uk-list-check {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

ul.uk-list-check li {
	margin-bottom: 16px;
	font-size: initial;
	padding-left: 30px;
	position: relative;
}

ul.uk-list-check li:before {
	content: "\f00c";
	font: normal normal normal 14px/1 FontAwesome;
	color: var(--primary);
 	display: block;
	position: absolute;
	/*background: url(../images/green-check.svg) center center no-repeat;*/
	width: 20px;
	height: 19px;
	margin-right: 15px;
	left: 0;
	top: 5px;
}


/*social media*/

div#social a:hover {
	text-decoration: none;
}

.smGlobalBtn {
	display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
}


/* facebook button class*/

.facebookBtn {
	background: #4060a5;
}

.facebookBtn:before {
	/* use :before to add the relevant icons */
	font-family: "FontAwesome";
	content: "\f09a";
	/* add facebook icon */
}

.facebookBtn:hover {
	color: var(--white);
	background: var(--bg-primary);
}


/* twitter button class*/

.twitterBtn {
	background: #00abe3;
}

.twitterBtn:before {
	font-family: "FontAwesome";
	content: "\f099";
	/* add twitter icon */
}

.twitterBtn:hover {
	color: var(--white);
	background: var(--bg-primary);
}


/* google plus button class*/

.youtubeBtn {
	background: #e64522;
}

.youtubeBtn:before {
	font-family: "FontAwesome";
	content: "\f16a";
}

.youtubeBtn:hover {
	color: var(--white);
	background: var(--bg-primary);
}


/* linkedin button class*/

.linkedinBtn {
	background: #0094bc;
}

.linkedinBtn:before {
	font-family: "FontAwesome";
	content: "\f0e1";
	/* add linkedin icon */
}

.linkedinBtn:hover {
	color: var(--white);
	background: var(--bg-primary);
}


/* pinterest button class*/

.pinterestBtn {
	background: #cb2027;
}

.pinterestBtn:before {
	font-family: "FontAwesome";
	content: "\f0d2";
	/* add pinterest icon */
}

.pinterestBtn:hover {
	color: #cb2027;
	background: #fff;
	border-color: #cb2027;
}


/* instagram button class*/

.instagramBtn {
	background: #184f85;
}

.instagramBtn:before {
	font-family: "FontAwesome";
	content: "\f16d";
	/* add pinterest icon */
}

.instagramBtn:hover {
	color: var(--white);
	background: var(--bg-primary);
}


/* instagram button class*/

a#BackToTop {
	position: fixed;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: var(--bg-primary);
	z-index: 9999;
	border-radius: 0px;
	right: 30px;
	bottom: 10px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
}

#BackToTop.show {
	opacity: 1;
	visibility: visible;
}

a#BackToTop svg {
	color: var(--white);
	width: 25px;
	height: 15px;
}

a#BackToTop svg polyline {
	stroke-width: 2px;
}


/*footer end